###################################
# ===== GENERAL =====
###################################
*.log
*.tmp
*.swp
.DS_Store

###################################
# ===== FRONTEND ANGULAR =====
###################################
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/.cache/
frontend/.vscode/
frontend/.idea/



###################################
# ===== SECRET FILES =====
###################################
application-secret.properties
.env
.env.local
*.key
*.pem

###################################
# ===== OS =====
###################################
Thumbs.db
