###################################
# ===== GENERAL =====
###################################
*.log
*.tmp
*.swp
.DS_Store
Thumbs.db

###################################
# ===== FRONTEND ANGULAR =====
###################################
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/.cache/
frontend/.vscode/
frontend/.idea/

###################################
# ===== BACKEND SPRING BOOT =====
###################################
user-service/target/
user-service/.idea/
user-service/uploads/

###################################
# ===== SECRETS =====
###################################
.env
application-local.properties
application-prod.properties
*.key
*.pem

###################################
# ===== IDE =====
###################################
.idea/
*.iml
.vscode/
